@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Raleway:wght@200;400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

:root {
  --color-primary: #d5a100;
  --color-secondary: #0075be;
  --color-highlight: #ffcc00;
  --color-danger: #da0a11;
  --color-light: #fff;
  /*dark shades*/
  --color-shade: #0a285f;
  --color-darkish: #223;
  --color-dark: #112;
  --color-darkest: #001;
}

.gradient {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-primary),
    var(--color-highlight)
  );
}

.gradient.text {
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient.alternate {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-danger),
    var(--color-secondary)
  );
}

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Oswald", sans-serif; */
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.5rem;
}

body {
  font-size: 6rem;
  background-image: url("../public/background.webp");
  background-size: 100vw 100vh;
  color: var(--color-highlight);
  text-shadow: 2px 2px var(--color-shade);
  -webkit-text-stroke: 1px var(--color-secondary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  height: 100svh; /*Adapt to smartphones screens*/
  width: 100%;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-highlight);
  text-shadow: 4px 4px var(--color-shade);
  -webkit-text-stroke: 3px var(--color-secondary);
}

.headline {
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 2rem;
  font-family: "Oswald";
  font-weight: 700;
  color: var(--color-highlight);
}

.loading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-light);
  text-align: center;
  animation: bouncy 1s infinite;
}

@keyframes bouncy {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.button {
  color: var(--color-light);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button.gradient:hover {
  background: -webkit-linear-gradient(
    right,
    var(--color-primary),
    var(--color-shade)
  );
  color: var(--color-light);
  box-shadow: 0px 5px var(--color-light);
  transform: translateY(-5px);
}

.button.gradient.alternate:hover {
  background: -webkit-linear-gradient(
    right,
    var(--color-danger),
    var(--color-secondary)
  );
  color: var(--color-light);
  box-shadow: 0px 5px var(--color-light);
  transform: translateY(-5px);
}
